h1{
    display: flex;
    justify-content: center;
    text-align: right;
    color:green;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    width: 25%;
    height: 110%;
}

p{
    width: 150px;
    
}

input{
    height: 40%;
    width: 30% ;
}


.container1{
    border: 3px solid black; 
    width: 25%;
    height: 100%;
    background-color: black;
}

#tekst{
    color: white;
}


body{
    height: 100%;
    width: 100%;
}

#button1{
    color: blue
    
}